.navigation {
    box-sizing: border-box;
    border-right: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.navigation-button {
    padding: 8px 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}