.app {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.view {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100vw;
    height: 100vh;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
}

table thead th {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

th, td {
    box-sizing: border-box;
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: left;
}