.app {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.view {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100%;
    height: 100%;
}