.alert-container {
    position: absolute;
    top: 10px;
    right: 10px;

    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.alert {
    padding: 10px;
    border: 2px solid green;
    background-color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.alert-error {
    border: 2px solid rgb(255, 0, 0);
}

.alert-message {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}