.product-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.product-card-image {
    width: 300px;
    height: 300px;
}

.product-card-barcode-container {
    display: flex;
    flex-direction: row;
    gap: 5px;

    padding: 5px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.product-card-barcode {
    font-weight: bold;
    font-size: 18px;
}

.product-card-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-card-message {
    max-width: 300px;
}

.product-card-message-success {
    color: green;
}

.product-card-message-error {
    color: red;
}