.database-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.database-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}