/* .new-product-barcode-input {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

.new-product-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.new-product-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-product-input {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

/*color celestito*/
.new-product-submit-button {
    box-sizing: border-box;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.no-price-lists-message {
    color: #007BFF;
    text-decoration: underline;
    cursor: pointer;
}