.message-success {
    color: green;
}

.message-error {
    color: red;
}

.customers-create-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-create-form {
    padding: 10px;

    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customers-create-input {
    padding: 10px;
    border-radius: 10px;
}