.customers-view-container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;
}

.customers-view-filters-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.customers-view-name-filter {
    padding: 10px 15px;
    border: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
}

.customers-view-table-container {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 80px - 80px);
}

.customers-view-table {
    width: 100%;
}

.customers-view-table-head-row {
    background-color: #FFF;
    position: sticky;
    top: 0;
    left: 0;
}

.customers-view-table-row {
    cursor: pointer;
}

.customers-view-table-row:hover {
    background-color: gray;
}

.customers-view-buttons-container {
    height: 80px;
    border-top: 1px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.customers-view-button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.customers-view-button:hover {
    background-color: gray;
}