.customers-create-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 400px;
}