.lists-view-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
    padding: 10px;
}

.lists-view-button {
    padding: 10px;

    border: none;
    outline: none;
    cursor: pointer;

    color: #000;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
}

.lists-view-button:hover {
    background-color: gray;
}

.lists-view-button:focus {
    background-color: gray;
}