.orders-create-container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;
}

.order-create-container-r1 {
    display:flex;
    flex-direction: row;
    flex: 1;
}

.order-create-container-c1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5px;
}

.order-create-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-create-customer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-create-customer {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #000;
    overflow-x: auto;
}

.order-create-customer-button {
    padding: 5px;
    border: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.order-create-customer-button:hover {
    background-color: gray;
}

.order-create-payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.order-create-payment-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.order-create-payment-method {
    width: 100%;
}

.order-create-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-create-button-product-search {
    padding: 5px;
    border: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.order-create-button-product-search:hover {
    background-color: gray;
}

.order-create-total-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.order-create-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-create-button {
    padding: 5px;
    border: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}

.order-create-button:hover {
    background-color: gray;
}

.order-create-button-print {
    padding: 5px;
    border: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}

.order-create-button-print:hover {
    background-color: gray;
}

.order-create-container-c2 {
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.order-create-table {
    width: 100%;
}

.order-create-container-r2 {
    height: 100px;
    border-top: 1px solid #000;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.order-create-discounts-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.order-create-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.order-create-message-success {
    color: green;
}

.order-create-message-error {
    color: red;
}

.order-create-advancement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}