.order-view-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    box-sizing: border-box;
    padding: 5px;
}

.order-view-details-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-view-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-view-customer-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-view-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-view-button {
    cursor: pointer;
    border: 1px solid #000;
    padding: 5px;
    color: #000;
    text-align: center;
}

.order-view-button:hover {
    background-color: gray;
}

.order-view-table-container {
    overflow-y: scroll;
    height: calc(100vh - 10px);
}

.order-view-table {
    width: 100%;
}