.products-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products-input-container {
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

.products-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.products-products-list {    
    box-sizing: border-box;

    width: 100%;
    height: 600px;

    overflow-y: scroll;
    border: 1px solid #000;
}

.products-table {
    box-sizing: border-box;
    border-collapse: collapse;

    width: 100%;
}

.products-table thead th {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

th, td {
    box-sizing: border-box;
    /* Define el grosor, el estilo y el color */
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: left;
}

.product-row {
    cursor: pointer;
}

.product-row:hover {
    background-color: #ccc;
}

.products-view-buttons-container {
    box-sizing: border-box;

    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
    justify-content: center;
}

.products-view-button {
    padding: 10px 15px;
    cursor: pointer;
}