.products-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.products-view-filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 10px;
    height: 80px;
}

.products-view-input {
    padding: 10px 15px;
    border: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
}

.products-view-table-container {
    flex: 1;
    width: 100%;
    height: calc(100vh - 80px - 80px);
    overflow-y: scroll;
}

.products-view-table {
    width: 100%;
}

.product-view-table-row {
    cursor: pointer;
}

.product-view-table-row:hover {
    background-color: gray;
}

.products-view-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80px;
    border-top: 1px solid #000;
}

.products-view-button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.products-view-button:hover {
    background-color: gray;
}