.products-create-container {
    box-sizing: border-box;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.products-create-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products-create-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products-create-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    border: 1px solid #000;
}

.products-create-input:focus {
    outline: 2px solid red;
}

.products-create-button {
    border: none;
    outline: none;
    cursor: pointer;

    border: 1px solid #000;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.products-create-button:hover {
    background-color: gray;
}

.products-create-button:focus {
    outline: 2px solid red;
}

.products-create-minorprice {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.products-create-select {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    height: 40px;
}

.products-create-select:focus {
    outline: 2px solid red;
}

.products-create-provider {
    display: flex;
    flex-direction: row;
    gap: 5px;
}