.product-view-container {
    display: flex;
    flex-direction: column;
}

.product-view-content {
    box-sizing: border-box;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;

    padding: 10px;
}

.product-view-basic-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-view-prices-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-view-basic-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    align-items: center;
}

.product-view-basic-info-title {
    font-size: 18px;
    font-weight: bolder;
}

.products-create-minorprice {
    width: 100%;
}