.product-view-container {
    box-sizing: border-box;

    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas: "detail extra" "footer footer";
}

.product-view-info-container {
    grid-area: detail;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-view-image {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
}

.product-view-detail-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-view-detail-title {
    font-size: 18px;
    font-weight: bold;
}

.product-view-input {
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #000;
}

.product-view-extra-container {
    grid-area: extra;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-view-prices-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.product-view-price-major-container {
    flex: 1;
}

.product-view-price-minor-container {
    flex: 1;
}

.product-view-minor-prices-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
}

.product-view-minor-prices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 100%;
}

.product-view-minor-price-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.product-view-minor-price-input {
    width: 100%;

    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #000;
    font-size: 18px;
}

.product-view-minor-price-button-delete {
    font-size: 18px;
    border: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
}

.product-view-minor-price-button-delete:hover {
    background-color: gray;
}

.product-view-minor-prices-title {
    font-size: 18px;
    font-weight: bold;
}

.product-view-button {
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 18px;
}

.product-view-button:hover {
    background-color: gray;
}

.product-view-message-container {
    grid-area: footer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid #000;
}

.product-view-message {
    font-size: 20px;
    font-weight: bold;
}

.product-view-message-success {
    color: green;
}

.product-view-message-error {
    color: red;
}

.product-view-provider-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}