.scanner-view {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.scanner-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: green; */
}

.scanner-scanner {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;

    /* background-color: red; */
}

.scanner-video {
    width: 400px;
    height: 300px;
    border: 2px solid #000;
}

.scanner-code-span {
    font-size: 32px;
    font-weight: bold;
}

.scanner-formatted-code-span {
    font-size: 24px;
    color: #555;
}