.home-view {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.home {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-size: 32px;
}

.home-ip-span {
    font-weight: bolder;
}